<div class="password-requirements">
    <p class="requirements-title">Le mot de passe doit contenir :</p>
    <ul>
        <li [class.valid]="passwordErrors()['hasMinLength']">
            ✓ Au moins 8 caractères
        </li>
        <li [class.valid]="passwordErrors()['hasUpperCase']">
            ✓ Au moins une lettre majuscule
        </li>
        <li [class.valid]="passwordErrors()['hasLowerCase']">
            ✓ Au moins une lettre minuscule
        </li>
        <li [class.valid]="passwordErrors()['hasNumeric']">
            ✓ Au moins un chiffre
        </li>
        <li [class.valid]="passwordErrors()['hasSpecialChar']">
            ✓ Au moins un caractère spécial (!@#$%^&*...)
        </li>
    </ul>
</div>