@use '../../../../styles/variables' as *;

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .error-message {
    color: $color-danger;
    font-size: $font-size-md;
    margin-bottom: 1.5rem;
  }

  p {
    color: $color-text;
    font-size: $font-size-md;
    margin-bottom: 0.5rem;
  }
}
