@use '../../../styles/variables' as *;

.back-arrow-container {
  //   position: absolute;
  //   top: $header-height-desktop + 1rem;
  //   left: 1.5rem;

  .back-arrow {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateX(-4px);
    }
  }
}
