@use '../../../styles/variables' as *;

// Styles spécifiques au feed uniquement
.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

// Styles spécifiques aux posts
.post-title {
  color: $color-text;
  margin: 0;
  line-height: $line-height-md;
}

.post-meta {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  font-size: $font-size-sm;
  color: $color-text-light;
}

.post-content {
  margin: 0 0 0.5rem 0;
  color: $color-text;
  font-size: $font-size-md;
  line-height: $line-height-md;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
