@use '../../../../styles/variables' as *;

.login-container {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login-card {
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  //   background: white;
  //   border-radius: 8px;
  //   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $color-text;
  }
}

.actions {
  display: flex;
  justify-content: center;

  .btn {
    background: $color-primary;
    color: white;
    transition: all 0.3s;

    &:hover:not(:disabled) {
      background: $color-primary-dark;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    &:disabled {
      background: #ccc;
      color: #666;
      border: 1px solid #aaa;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 768px) {
  .login-card {
    padding: 1.5rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}
