@use 'styles/variables' as *;
@use 'styles/utilities' as *;

/* ========================================
   GLOBAL STYLES
   ======================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family;
  color: $color-text;
  line-height: $line-height-md;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
