@use '../../../../styles/variables' as *;

.landing-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.logo-section {
  margin-bottom: 5rem;
  width: 600px;
  height: 300px;
  opacity: 1;

  .logo {
    width: 100%;
  }
}

.actions {
  width: 450px;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;

  .btn {
    transition: all 0.3s;

    &.btn:hover {
      background-color: $color-primary;
      color: white;
      transform: translateY(-8px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
  }
}

@media (max-width: 768px) {
  .logo-section {
    width: 80%;
    height: auto;
    margin-bottom: 3rem;
  }

  .actions {
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .btn {
      width: 100px;
    }
  }
}
