@use '../../../../styles/variables' as *;

.landing-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.logo-section {
  margin-bottom: 5rem;
  width: 600px;
  height: 300px;

  .logo {
    width: 100%;
  }
}

.actions {
  width: 450px;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: $breakpoint-mobile) {
  .logo-section {
    width: 80%;
    height: auto;
    margin-bottom: 3rem;
  }

  .actions {
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
